/*
    Author  : nom de l'auteur ou e-mail
    Date    : jj/mm/aa
    Version : V.1.0
*/

/*---------------------------------------------------------------------*/
/* GLOBAL */
/*---------------------------------------------------------------------*/
body {
	background-color: grey;
}
/* typo */
/*--------------------*/

/* others */
/*--------------------*/

/* links */
/*--------------------*/

/* forms */
/*--------------------*/

/* table */
/*--------------------*/

/* buttons */
/*--------------------*/

/*---------------------------------------------------------------------*/
/* LAYOUT */
/*---------------------------------------------------------------------*/

/* header */
/*--------------------*/

/* nav */
/*--------------------*/

/* main */
/*--------------------*/

/* aside */
/*--------------------*/

/* footer */
/*--------------------*/
