/*
    Author  : nom de l'auteur ou e-mail
    Date    : jj/mm/aa
    Version : V.1.0
*/

/*---------------------------------------------------------------------*/
/* GLOBAL */
/*---------------------------------------------------------------------*/
body {
	color: #666;
	background-color: #fff;
}
/* typo */
/*--------------------*/
h1, h2, h3, h4, h5, h6 {
	color: #8a0538;
}

/* others */
/*--------------------*/

/* links */
/*--------------------*/
a {
	color: #039be5;
}
/*a:visited {
	color: #9c27b0;
}*/
a:hover {
	text-decoration: none;
}
/*a:active {
	color: orange;
}*/
/*a:focus {
	background-color: red;
	color: #fff;
}*/
/* forms */
/*--------------------*/

/* table */
/*--------------------*/

/* buttons */
/*--------------------*/

/*---------------------------------------------------------------------*/
/* LAYOUT */
/*---------------------------------------------------------------------*/

/* header */
/*--------------------*/

/* nav */
/*--------------------*/
nav {
	background-color: #666;
}
nav a { /* sélécteur hierarchique */
	color: #fff;
}
/* main */
/*--------------------*/
article {
	background-color: #ddd;
}
section h2 {
	background-color: #da5488;
	color: #fff;
}
/* aside */
/*--------------------*/

/* footer */
/*--------------------*/









